<ion-header>
  <ion-navbar>

    <ion-buttons *ngIf="usuarioService.activo()">
      <button ion-button (click)="usuarioService.cerrarSesion()">
        Salir
      </button>
    </ion-buttons>

    <ion-title>
      TiendCar
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="carritoService.verCarrito()">
        <ion-icon name="cart"></ion-icon>
        <ion-badge *ngIf="carritoService.items.length > 0" color="danger" class="carrito-numero">{{ carritoService.items.length }}</ion-badge>
      </button>
      &nbsp;
      &nbsp;
      &nbsp;
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>

    <ion-row *ngFor="let pares of productoService.productos">
      <ion-col *ngFor="let item of pares" [navParams]="{ producto: item }" [navPush] ="productoPage">
        <img [src]="item.codigo | imagen">
        <p>
          {{ item.producto }}
          <br>
          {{ item.precio_compra | currency: 'USD' : true}}
        </p>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="siguientePagina($event)" [enabled]="blockInfiniteScroll">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
